code[class*="language-"], pre[class*="language-"] {
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 2;
	-o-tab-size: 2;
	tab-size: 2;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: #272822;
	color: #f8f8f2;
}
pre[class*="language-"] {
	padding: 1.5em 0;
	margin: .5em 0;
	overflow: auto;
}
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}
.token.comment, .token.prolog, .token.doctype, .token.cdata {
	color: #75715e;
}
.token.punctuation {
	color: #f8f8f2;
}
.token.namespace {
	opacity: .7;
}
.token.operator, .token.boolean, .token.number {
	color: #fd971f;
}
.token.property {
	color: #f4bf75;
}
.token.tag {
	color: #66d9ef;
}
.token.string {
	color: #a1efe4;
}
.token.selector {
	color: #ae81ff;
}
.token.attr-name {
	color: #fd971f;
}
.token.entity, .token.url, .language-css .token.string, .style .token.string {
	color: #a1efe4;
}
.token.attr-value, .token.keyword, .token.control, .token.directive, .token.unit {
	color: #a6e22e;
}
.token.statement, .token.regex, .token.atrule {
	color: #a1efe4;
}
.token.placeholder, .token.variable {
	color: #66d9ef;
}
.token.deleted {
	text-decoration: line-through;
}
.token.inserted {
	border-bottom: 1px dotted #f9f8f5;
	text-decoration: none;
}
.token.italic {
	font-style: italic;
}
.token.important, .token.bold {
	font-weight: bold;
}
.token.important {
	color: #f92672;
}
.token.entity {
	cursor: help;
}
pre > code.highlight {
	outline: 0.4em solid #f92672;
	outline-offset: .4em;
}





/* Everywhere */
html,body{
	background-color: #fcc541;
	font-size: 20px;
}

footer{
	padding-bottom: 5rem;
}

.site-logo{
	border: none !important;
}
.site-logo .custom-logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 50px !important;
    max-height: 50px !important;
    height: auto;
    display: inline-block;
    width: auto;
}
.site-branding{
	display: none;
}


.powered-by, .site-footer .site-info{
	display: none !important;
}


a{font-weight: bold;}



/* Subpage */
.singular .entry-title, .page-header{
	text-align: center;
}

.singular .entry-header, .page-header{
	border-bottom: none !important;
}

.blog .site-content, .single-post .site-content{
	margin-top: -100px;
}

h1.page-title, .singular .entry-title {
    font-weight: bold !important;
}



/* Intro Page */

.homepage .social,
.homepage .explainer{
	text-align: center;
	display: block;
}

p, .tmpl-post li, img {
    max-width: none;
}

.map-container {
    border-radius: 10px;
    background-color: rgba(0,0,0,0.05);
    width: 44%;
    overflow: hidden;
    display: inline-block;
    margin-right: 2.5%;
    padding-bottom: 20px;
    transition: all ease-in-out 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 2.5%;
}
.map-container:hover{
	/*background-color: rgba(255,255,255,0.1);*/
}

.map-container:nth-of-type(1){
	margin-right:0;
}

.map-header {
    font-weight: bold;
    font-size: 3rem;
    line-height: 32px;
}
.map-header a{
	text-decoration:none;
}
.map-header a:hover{
	text-decoration:underline;
}
.map-header #journey {
    margin-bottom: 2rem;
    display: block;
    margin-left: 2.5%;
}

.map-container img {
    width: 100%;
}

.map-container .heading{
	text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    height: 40px;
    margin: 20px 0;
    line-height: 32px;
}


header {
    border-bottom: none;
}





#big-title{
    font-size: 6rem;
    font-weight: bold;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#big-title img {
    height: 100px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
 
}

#big-title .county{
    margin-left: 0;
    height: 6rem;
    display: block;
    margin-top: 0px;
}

#big-title .seats{
    text-align: right;
}






#why{
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

#why h2 {
    font-size: 2rem;
    line-height: 2rem;
}
#why .block{
	margin-bottom: 50px;
}


.explainer{
	font-size: 11px;
	top: -20px;
	display: block;
	position: relative;
}


@media all and (max-width: 950px) {
	.map-container {
    	width: 100%;
    	margin-bottom: 40px;
	}

}

@media all and (max-width: 768px) {
	.custom-logo{
		height: 100px;
	}

	#big-title{
		font-size:5rem; 
		font-weight: bold;
		width:300px;
	}

	#big-title .county{
		height: 5rem;
	}

	.page-template-intro-page #choose{
		padding-top: 0vh;
	}

	.map-header {
    	font-size: 1.75rem;
    	margin-bottom: 20px;
    	text-align: center;
	}	

}

@media all and (max-width: 650px) {
	#why{
		width: 80vw;
	}
}


@media all and (max-width: 414px) {
	.custom-logo{
		height: 70px;
	}

	#big-title{
		font-size:4rem; 
		font-weight: bold;
		width:240px;
		
	}

	#big-title .county{
		height: 4rem;
		margin-top:-15px;
	}

}


