---
layout: layouts/home.njk
---

<section id="big-title">
            <img width="512" height="512" src="/img/cs-logo.png" class="custom-logo"/>
            <div class="county">County</div> <div class="seats">Seats</div>
        </section>

         <section id="maps">
            <div class="map-container zoomable">
              <a href="/img/counties.svg" class="glightbox" data-glightbox="type: image; effect: zoom; zoomable: true;">
                <div class="heading">
                    268 / 3142 Counties Completed
                </div>
                <img src="/img/counties.svg">
                <img class="zoom-in" src="img/zoom-in.svg" />
              </a>
            </div>
                
            <div class="map-container">

                    <div class="heading">
                        4 States Completed<br> 20 States Underway
                    </div>
                    <img src="/img/states.svg">

            </div>
         </section>


		<section id="why">
					
            <div class="block">
                <h2><strong>What is this?</strong></h2>

                <p>Foremost, County Seats is a documentation tool for <a rel="noreferrer noopener" href="https://ryan.green" target="_blank">Ryan</a> to keep track of his journey to visit every <a rel="noreferrer noopener" href="https://en.wikipedia.org/wiki/County_seat" target="_blank">county seat</a> in the United States of America. If you've never counted, there are several of them.</p>
            </div>



            <div class="block">
                <h2><strong>Is that all?</strong></h2>

                <p>Nope! As a consequence of visiting many counties and having lots of great experiences along the way, I've stumbled upon bigger conversations about how urban and rural areas converge, how the infrastructure and built environment in small towns continue to evolve, and interesting opportunities for those that live and work in non-metropolitan areas.</p>

                <p>I also have been capturing <a href="{{ '/thoughts/' | url }}">my thoughts</a> if you're interested in that kind of thing.</p>

                <h3>Latest Thoughts</h3>
                <div class="blog-loop">

				{% set maxPosts = collections.posts.length | min(3) %}

				{% set postslist = collections.posts | head(-3) %}
				{% set postslistCounter = collections.posts | length %}
				{% include "simple-postslist.njk" %}

                </div>

            </div>


            <div class="block">
                <h2><strong>But why visit county seats? I have so many questions...</strong></h2>

                <p>For the full story behind why Ryan even started this project in the first place, <a href="/why/">you’re in luck</a>.</p>
            </div>
        </section>


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>

<script type="text/javascript">
  const lightbox = GLightbox();
</script>
