---
layout: layouts/home.njk
eleventyNavigation:
  key: Thoughts
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Thought{% else %}{{ maxPosts }} Thoughts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More thoughts can be found in <a href="{{ '/posts/' | url }}">the notebook</a>.</p>
